<footer>
	<div class="sitefooter">
		<div class="footercontent">
			<div class="footernavigation">
				<div>
					<p class="footer-title">DuckDB Foundation</p>
					<a href="{{ site.baseurl }}/">Home</a><br/>
					<a href="{{ site.baseurl }}/#supporters">Supporters</a><br/>
					<a href="{{ site.baseurl }}/contact/">Contact</a>
				</div>
				<div>
					<p class="footer-title">DuckDB</p>
					<a href="https://duckdb.org/" target="_blank" rel="noopener">DuckDB Home</a><br/>
					<a href="https://duckdb.org/docs/" target="_blank" rel="noopener">Documentation</a><br/>
					<a href="https://duckdb.org/install/" target="_blank" rel="noopener">Installation</a>
				</div>
				<div>
					<p class="footer-title">Resources</p>
					<a href="{{ site.baseurl }}/pdf/deed-of-incorporation-stichting-duckdb-foundation.pdf" target="_blank" rel="noopener">Articles of Association</a><br/>
					<a href="https://github.com/duckdb/duckdb-foundation" target="_blank" rel="noopener">GitHub</a>
				</div>
			</div>
			<div class="footerlogo foundation_logo"></div>
			<div class="bottomline">
				<div>© {{ "now" | date: "%Y" }} DuckDB Foundation, Amsterdam NL</div>
			</div>
		</div>
	</div>
</footer>

<div class="svg-sprite" aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden; visibility: hidden;">
	{% include icons.html %}
</div>
