<header>
	<div class="headerline">
		<div class="headercontent">
			<div class="duckdbhome">
				<a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo/DuckDB_Foundation-horizontal.svg" alt="DuckDB Foundation Logo for Download" class="downloadlogo"></a>
				<div id="foundation_logo"></div>
			</div>
			<div class="options">
				<a class="button yellow" href="https://duckdb.org/" target="_blank" rel="noopener">DuckDB</a>
				<button class="mode" data-mode="dark" aria-label="Toggle dark mode">
					<svg class="icon icon-sun"><use href="#sun"></use></svg>
					<svg class="icon icon-moon"><use href="#moon-01"></use></svg>
				</button>
			</div>
		</div>
	</div>
</header>
